{% extends "network/layout.html" %}

{% block body %}

{% if profile %}
<h1>{{ user_numbers.user.username }}</h1>
<h2>Following {{following_count}}</h2>
<h2>Followers {{followers_count}}</h2>

{% if user_numbers.user != user %}
{% if is_follower %}
<button>Unfollow</button>
{% else %}
<button>Follow</button>
{% endif %}
{% endif %}

{% endif %}

<!-- Form to new post-->
{% if user.is_authenticated %}

<div class="newPost">
<form action="" method="post">
    {% csrf_token %}
    <label for="content">New Post</label>
    <textarea name="content" id="content" rows="5">{% if content %}{{ content }}{% endif %}</textarea>
    
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}

    <input id="submitPost" type="submit" value="Post">
</form>
</div>
{% endif %}
<!-- End Form to new post-->

<!-- Infinite container -->
<div class="infinite-container">
    {% for post in page_obj %}

      <div class="infinite-item postTile">
        <a class="user" href="{% url "profile" post.creator %}">{{ post.creator }}</a>
        <p class="contetn">{{ post.content }}</p>
        <p class="date">{{ post.date | safe }}</p>
        <p>{{post.likes.count }} &#10084;&#65039;</p>
    </div>
    {% endfor %}
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}

  <!-- End Infinite container -->
{% endblock %}