{% extends "network/layout.html" %}

{% block body %}

<!-- Form to new post-->
{% if user.is_authenticated %}
<div class="newPost">
<form action="" method="post">
    {% csrf_token %}
    <label for="content">New Post</label>
    <textarea name="content" id="content" rows="5"></textarea>
    <input id="submitPost" type="submit" value="Post">
</form>
</div>
{% endif %}
<!-- End Form to new post-->

<!-- Infinite container -->
<div class="infinite-container">
    {% for post in page_obj %}

      <div class="infinite-item postTile">
        <p class="user">{{ post.creator }}</p>
        <p class="contetn">{{ post.content }}</p>
        <p class="date">{{ post.date | safe }}</p>
        <p>{{post.likes.count }} &#10084;&#65039;</p>
    </div>
    {% endfor %}
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}

  <!-- End Infinite container -->
{% endblock %}